<!DOCTYPE html>
<html>
  <head>
    <title>Crypto Currency Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container mt-5">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>
  </body>
</html>
